/* drone toolbar item z-index (extjs 기본 19000) */
.drone-toolbar #droneToolbar {
	position: relative !important;
	z-index: 20000 !important;
}

/* combo item z-index (extjs 기본 19000) */
.drone-combolist div[id*="cboDrone"] {
	position: relative !important;
	z-index: 30000 !important;
}

.view_form {
	width:  350px;
	border-collapse: collapse;
	font-family:'돋움';
	font-size: 12px;
}

.view_form .no_Data {
	font-size: 11px;
	letter-spacing: -1px;
	color: #000;
	text-align: left;
	border-right: 0px;
}


.view_form .no_Data .site_name {
	font-weight: bold;
}

.view_form .no_Data .info_txt {
	color: red !important;
}

.view_form th {
	color: #fff;
	line-height: 16px; 
	height: 24px;
	background: #59657f;
	border-right: 1px solid #fff;
}

.view_form td {
	width: 25%;
	text-align: center;
	font-weight: normal;
	height: 24px;
	background: #fff;
	border: 1px solid #59657f;
	border-left: 0px;
}

.dijitTooltipContainer {
	background: #ffffff !important;
	padding: 6px 8px;
}